.container {
    width: 60%;
    margin: auto;    
}

.container button {
    margin: 5% 0;
}


h1 {
    text-align: center;
}

mat-card {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    
}

.actions {
    align-self: center;
    transform: scale(0.8);
}

.create-dragon {
    background: #333333;  
    background: -webkit-linear-gradient(to right, #dd1818, #333333);
    background: linear-gradient(to right, #dd1818, #333333);
    color: aliceblue;     
    border-radius: 15px;
    transition: 0.3s ease-in-out;
}

.create-dragon:focus {
    transform: scale(1.15);
    
}

button:nth-child(2) {
    margin-left: 2%;
}

mat-spinner {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

