<div class="container">
    <button mat-raised-button class="create-dragon" color="accent" routerLink="/create">Create a new dragon</button>

    <div class="content">
        <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <div fxFlex="20%" fxFlex.sm="50%" fxFlex.md="33.33%" fxFlex.lg="25%" fxFlex.xs="100%" *ngFor="let dragon of dragons">
                <mat-card >
                    <h1>{{dragon.name}}</h1>
                    <div fxFlex class="actions">
                        <button mat-mini-fab color="accent" routerLink="dragon/{{dragon.id}}">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-mini-fab color="warn" (click)="delete(dragon.id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>

    <mat-spinner color="warn" *ngIf="isLoading"></mat-spinner>
</div>