.login-section {
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 50vw;
    height: 100vh;
    display: flex;
}

.login-content {
    width: 60%;
}

.white-dragon {
    background-image: url("../../../../assets/dragon-white.png");
    width: 600px;
    height: 350px;
    background-size: contain;
    background-position: inherit;
    background-repeat: no-repeat;

}

.login-title {
    text-align: center;
    font-weight: 800;
    font-size: 2.4rem;
    color: aliceblue;
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: #000;
}

.image-section {
   width: 50%;
   background-image: url("../../../../assets/dragon.jpeg");
   background-size: cover;
   background-position: right;
}

.container {
    display: flex;
}

.submit {
    background-color: rgb(131, 144, 115);
}


input {
    color: aliceblue;
}

.remember-forgot-password {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
    color: aliceblue;

}

a {
    text-decoration: none;
    color: aliceblue;
    font-weight: 800;
}


.signup {
    margin-top: 2%;
    color: aliceblue;
}

.back {
    background-color: #5158BB;
    border-radius: 15px;
}

mat-icon {
    margin-right: 5%;
}

span {
    margin-left: 1%;
}

.back {
    position: absolute;
    top: 0%;
    right: 50%;
    margin: 2%;
}