<div class="dark-dragon"></div>
<div class="container">
    <form class="mat-elevation-z8">
        <h1 class="form-title">Updating your dragon</h1>
        <mat-form-field appearance="fill">
            <mat-label>Name:</mat-label>
            <input matInput [(ngModel)]="newDragon.name" name="newDragon.name" placeholder="The name of the dragon ">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Type:</mat-label>
            <input matInput [(ngModel)]="newDragon.type" name="newDragon.type" placeholder="The type of the dragon ">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Histories:</mat-label>
            <input matInput [(ngModel)]="newDragon.histories" name="newDragon.histories"
                placeholder="The histories of the dragon ">
        </mat-form-field>
        <div class="actions">
            <button mat-raised-button (click)="updateDragon()">Update</button>
            <button mat-raised-button color="primary" (click)="cancel()">Cancel</button>
        </div>
    </form>
</div>